body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container div {
    font-size: 100px;
    text-align: center;
}

#newgame {
    width: 100px;
    height: 50px;
    background-color: #0A0A0A;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 1.5rem;
    margin: 1rem;
    font-size: medium;
}